### IntelliJ IDEA ###
.idea/
*.iml
out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/

### Java ###
*.class
*.log

### Build ###
/build/
/dist/
/nbbuild/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### OS ###
.DS_Store